/frontend/node_modules/
/frontend/dist/
/target/
/backend/target/
/backend/logs/
/logs/
/.vite
/.idea
/node_modules
/backend/src/main/resources/static
/ffmpeg-master-latest-linux64-gpl.tar.xz
/backend/media_converter.db
/fn-media-converter/app/server/ffmpeg/doc
/fn-media-converter/app/server/ffmpeg/man
/fn-media-converter/app/server/ffmpeg/presets
/fn-media-converter/app/server/ffmpeg/LICENSE.txt
/fn-media-converter/app/server/ffmpeg/bin
/media_converter.db
